body {
    font-family: Arial, sans-serif;
    text-align: center;
  }
  
  .countdown {
    margin-top: 100px;
    border: darkgray 2 solid;
    background-color: rgb(92, 53, 2);
    padding: 20px;
    margin-left: 30%;
    margin-right: 30%;
  
  }
  
  #timer {
    display: flex;
    justify-content: center;
    color: whitesmoke;
  }
  
  #timer div {
    margin: 0 10px;
  }
  
  #timer span {
    font-size: 50px;
  }
  
  .smalltext {
    font-size: 16px;
    color: #666;
  }
  